.page {
    background-color: #2A2C2F;
    min-width: 100%;
    margin: 0;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}