.cover__background {
    position: relative;
    width: 100%;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-size: cover;
    background-image: url('../../../images/__nasabakah.jpg');
}

@media screen and (max-width: 1279px) {
    .cover__background {
        height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        height: 480px;
    }
}

@media screen and (max-width: 769px) {
    .cover__background {
        height: 200px;
    }
}